ion-header {
  background-color: rgb(235, 235, 235);
 ion-title{
   padding: 0;
   margin: 0;
   font-weight: 700;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .btn-arrow > ion-icon{
   font-weight: 700;
 }
 .grid-icon{
   color: #0d47a1;
 }
}


ion-content{
  .card-title{
    margin:0;
    padding: 0;
    font-weight: 600;
    font-size: 15px;
    color:rgb(165, 164, 164);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  } 
  ion-card-content{
    padding: 0;
    margin: 0;
  }
  ion-item h1{
    font-weight: 700;
    font-size: 50px;
    color:#0d47a1;
    padding: 10px;
  }
  ion-item p{
    font-weight: 600;
    font-size: 14px;
    color:rgb(165, 164, 164);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .options{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .number p{
    font-weight: 700;
    font-size: 18px;
    margin: 23px;
    color: #0d47a1;;
  }
  .card-color{
    background-color: #0d47a1;
    color:white;
  }
 .items{
   display:flex;
   overflow: auto;
 }
 .items::-webkit-scrollbar{
   display: none;
 }
 .items .item{
   min-width: 70px;
   height:70px;
   background:white;
   margin: 10px;
   border-radius: 10px;
   display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #0d47a1;
   box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
 }
 .items .active-item{
  min-width: 70px;
  height:70px;
  background:white;
  margin: 10px;
  border-radius: 10px;
  display: flex;
 justify-content: center;
 align-items: center;
 font-size: 20px;
 font-weight: 700;
 color: white;
 background-color: #0d47a1; 
  box-shadow:0 2px 5px 0 rgba(46, 16, 16, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
 }
 ion-card ion-card-header ion-icon{
   font-size: 30px;
   color: white;
 }
 .card-css{
  background-color:#0d47a1;
  border-radius: 15px;
}
 .card-text{
   font-size: 30px;
   color: white;
   margin-left: 10px;
 }
.card-p{
  margin-left: 10px;
  color:white;
}

.card-css1 ion-card-header ion-icon{
    font-size: 30px;
    color: #0d47a1;
}
.card-css1{
  background-color:white;
  border-radius: 15px;
}
 .card-text1{
   font-size: 30px;
   color: #0d47a1; 
   margin-left: 10px;
 }
.card-p1{
  margin-left: 10px;
  color:#0d47a1;
}
 .calculate{
   border-radius: 30px;
 }
}
